///// 1. VARIABLES IMPORT /////

@use "variables";

///// 2. MIXINS /////
///// 2.1 HOVER /////

@mixin hover-color  ($color: variables.$primary-color,
                    $lightDarkTheme: variables.$isLight){

    @if ($lightDarkTheme) {
        background-color: rgba($color,1);
        color: white;

    } @else {
        background-color: rgba($color,0.0);
        color: $color;
    }

    transition: 0.5s;
}

///// 2.2 ACTIVE /////

@mixin active-transform {
    font-size: 1.5em; //transform: scale(1.2);
}

///// 2.3 FOCUS SHADOW /////

@mixin shadow {
    box-shadow: 0px 0px 2px 6px rgba(rgb(0, 0, 0),1.0);
}
